* {
	box-sizing: border-box;
	/*border: 1px solid black;*/
}

body {
	text-align: center;
	background-color: #48a8f2; 

}

.main-container {
	/*border: 2px solid pink;*/
}

/*.time-entry-container {
	display: flex;
	width: 70%;
	margin: 0 auto;
	border: 2px solid pink;
}
*/
/*.time-entry-widget {
	margin: 0 auto;
	width: 50%;
	border: 5px solid aqua;
}*/

/*#banner {
	position: relative;
	background-image: url('http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_630,q_90,w_1200/v1/775700/coderbunker-transparent_z2njbv.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 30%;
	margin: 0 auto;
	margin-top: 3%;
	height: 120px;
}

#app-name {
	display: inline-block;
	font-size: 30px;
	margin: 1%;
}

.time-entry-widget {
	border: 1px solid black;
}

#root {
	border: 1px solid black;
}

.dashboard {
	border: 2px solid pink;
}

.dashboard h3 {
	text-align: center;
	display: inline-block;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}*/

@media screen and (max-width: 425px) {
	.main-container {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	#banner-wrapper {
		display: flex;
		flex-direction: column;
		width: 100%;
		text-align: center;
	}

	/*#banner-film {
		display: flex;
		position: absolute;
		width: 100%;
		height: 120px;
		background-color: rgba(0, 0, 0, 0.2);
	}*/
	
	#app-name {
		position: relative;
		font-size: 35px;
		width: 50%;
		margin: 5% auto;
		text-align: center;
		margin-bottom: 3%;
		font-family: 'Montserrat', sans-serif;
	}
		
	#banner {
		position: relative;
		background-image: url('http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_630,q_90,w_1200/v1/775700/coderbunker-transparent_z2njbv.png');
		background-size: contain;
		background-repeat: no-repeat;
		width: 50%;
		margin: 0 auto;
		margin-top: 5%;
		height: 120px;
	}
		
	
		

	.time-entry-container {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	form label {
		text-align: left;
	}

	#date-label {
		font-size: 25px;
		font-family: 'Montserrat', sans-serif;
		margin-right: 12px;
	}
	
	#date {
		width: 71%;
	}

	#startTime-label {
		font-size: 25px;
		font-family: 'Montserrat', sans-serif;

	}

	#stopTime-label {
		font-size: 25px;
		font-family: 'Montserrat', sans-serif;
		margin-right: 12px;
	}

	#resource, #date, #startTime, #stopTime, #activity, #taskName, #projectName {
		font-size: 25px;
		margin: 2% 0;
		border-radius: 10px;
	}
	
	#authorize-button {
		font-size: 32px;
		width: 50%;
		margin: 0 auto;
		background-color: rgba(5, 54, 86, 0.8);
		border-radius: 12.5px;
		font-family: 'Montserrat', sans-serif;
	}	
		
	#signout-button {
		font-size: 32px;
		width: 50%;
		margin: 0 auto;
		margin-bottom: 10px;
		background-color: rgba(225, 33, 40, 0.99);
		border-radius: 12.5px;	
		font-family: 'Montserrat', sans-serif;
	}	

	#submit-button {
		font-size: 32px;
		width: 50%;
		margin: 0 auto;
		background-color: rgba(5, 180, 56, 0.8);
		border-radius: 12.5px;
		font-family: 'Montserrat', sans-serif;
	}



	#root {
		width: 100%;
	}

	form {
		width: 90%;
		margin: 0 auto;
	}

	.dashboard {
		border-top: 3px dashed black;
		margin-top: 8%;
	}

	.dashboard h3 {
		font-size: 30px;
		font-family: 'Montserrat', sans-serif;
	}

	#welcome {
		font-size: 30px;
		font-family: 'Montserrat', sans-serif;
	}

	#project-ul {
		/*text-align: center;*/
		/*width: 100%;*/
	}

	#project-li {
		display: inline-block;
		width: 90%;
		border: 1px solid black;
		border-radius: 15px;
		background-color: #fef4f0;
		margin: 3% 10% 0 0;
		font-size: 30px;
		list-style-type: none;
		font-family: 'Montserrat', sans-serif;
	}

	#p-li {
		font-size: 20px;
		font-family: 'Montserrat', sans-serif;
	}



}
