body {
	text-align: center;
}
.container {
	display: inline-flex;
	border: 2px solid black;
	width: 50%;
}

.time-entry-widget {
	width: 50%;
	border: 2px solid black;
}

#root {
	width: 50%;
}

.dashboard {
  border: 2px solid black;
  width: 100%;
}

.dashboard h3 {
	text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
